*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-offset{
    padding-left: 3%;
}

header{
    position: relative;
    background: linear-gradient(to right, #000 50%, #fff 50%);
}

.header-container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.background-header {
    height: 100%;
    width: 100%;
    display: block;
}

.element-header1, .element-header2{
    position: absolute;
    width: 25%;
    transform: translate(-50%,-50%);
    top: 55%;
}

.element-header1{
    left: 32%;
}
.element-header2{
    left: 80%;
}
.element-header3{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 75%;
    top: 55%;
    left: 47%;
}

.element-header4{
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 0%;
    right: 5%;
    font-size: 1.5rem;
}

hr{
    border: none;
    height: 2px;
    background-color: black;
    margin: .5em 0;
}

.leftarrow, .rightarrow{
    width: .6em;
    padding: .1em;
    background-color: rgb(181, 208, 216);
}

.leftarrow{
    transform: rotate(90deg);
}

.rightarrow{
    transform: rotate(-90deg);
}

.number-header{
    font-size: small;
}

.section1{
    background-image: url("img/sta-uo-robot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.top-section1{
    position: relative;
    margin-top: -50px;
    padding-right: 1%;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}

.red-box{
    background-image: url("img/stromtrupered.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 350px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;

    padding: 4em 2em;
}

.red-titulo{
    font-size: 2.5rem;
    font-weight: 500;
}

.red-content{
    padding: 3em 0;

    font-size: 1rem;
    font-weight: 300;
}

.red-button{
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 5px;
    
    padding: .5em 2em;
    
    color: #fff;
    font-size: 1.2rem;
}

.red-nota{
    font-size: .7rem;
    font-weight: 300;

    position: absolute;
    right: 15px;
    bottom: 20px;
}

.sobre-box{
    display: flex;
    align-items: center;
    width: 60%;

    text-align: right;
}

.sobre-text{
    padding: 10px;
}

.sobre-titulo{
    font-size: 1.5rem;
}

.sobre-box hr{
    width: 150px;
    height: 2px;

    margin-left: auto;
}

.sobre-box img{
    height: 10em;
}

.section1-hr{
    background-color: gray;
    height: 3px;
    margin-top: 4em;
}

.bot-section1{
    position: relative;
    margin-top: 50px;

    display: flex;
}

.structure{
    display: flex;
    flex-direction: column;
    
    text-transform: uppercase;
    text-align: right;
}

.bot-titulo{
    font-weight: 600;
    font-size: 3rem;
}

.structure li{
    margin: .7em;
    padding: .2em;

}

.structure li:hover{
    background-color: orange;
    color: #fff;
}

.temp{
    background-color: darkgray;
    height: 500em;
}