*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: relative;
    background: linear-gradient(to right, #000 50%, #fff 50%);
}

.header-container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.background-header {
    height: 100%;
    width: 100%;
    display: block;
}

.element-header1, .element-header2{
    position: absolute;
    width: 25%;
    transform: translate(-50%,-50%);
    top: 55%;
}

.element-header1{
    left: 32%;
}
.element-header2{
    left: 80%;
}
.element-header3{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 75%;
    top: 55%;
    left: 47%;
}

.element-header4{
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 0%;
    right: 5%;
    font-size: 1.5rem;
}

hr{
    border: none;
    height: 2px;
    background-color: black;
    margin: .5em 0;
}

.leftarrow, .rightarrow{
    width: .6em;
    padding: .1em;
    background-color: rgb(181, 208, 216);
}

.leftarrow{
    transform: rotate(90deg);
}

.rightarrow{
    transform: rotate(-90deg);
}

.number-header{
    font-size: small;
}

.content-comece{
    background-image: url("img/stromtrupered.png");
    background-repeat: no-repeat;
    max-width: 398px;

    position: relative;
    top: -50px;
    left: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;

    padding: 6em 3em 5em 3em;
}

.comece-titulo{
    font-size: 3rem;
}

.comece-content{
    padding: 3em 0;
    font-size: 1.2rem;
}

.comece-button{
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 5px;

    padding: .5em 2em;

    color: #fff;
    font-size: 1.2rem;
}

.comece-nota{
    font-size: .7rem;
    position: absolute;
    right: 10px;
    bottom: 40px;
}