*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width:700px){
    .container-offset{
        padding-left: 3%;
    }
}

.botao{
    background-color: transparent;
    border: solid 2px #fff;
    
    color: #fff;
    
    cursor: pointer;
}
/*#region ------------------------------- HEADER ------------------------------*/
header{
    background: linear-gradient(to right, #000 50%, #fff 50%);
}

.header-container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.background-header {
    height: 100%;
    max-width: 100%;
    display: block;
}

.star, .wars{
    position: absolute;
    width: 25%;
    transform: translate(-50%,-50%);
    top: 60%;
}

.star{
    left: 32%;
}
.wars{
    left: 80%;
}
.kylo{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 70%;
    top: 60%;
    left: 47%;
}
/*#region ------------------------------- slider ------------------------------*/
.slider{
    position: absolute;
    bottom: 5%;
    right: 5%;  
}

.slider h3{
    font-weight: normal;
    margin: 0px;
}

hr{
    border: none;
    height: .1rem;
    background-color: black;
    margin: .5rem 0;
}

.leftarrow, .rightarrow{
    width: 1rem;
    padding: .2rem;
    background-color: #b5d0d8;
    
    cursor: pointer;
}

.leftarrow{
    transform: rotate(90deg);
}

.rightarrow{
    transform: rotate(-90deg);
}

.bigger-number, .slider h3{
    font-size: 1.5rem;
    font-size: clamp(.5rem, .5rem + 1vw, 1.5rem);
}

.lower-number{
    font-size: 1rem;
    font-size: clamp(.3rem, .3rem + 1vw, 1rem);  
}

/*#endregion ---------------------------- slider ------------------------------*/
@media (max-width: 760px){
    .slider{
        bottom: 3%;
        right: 3%;  
    }
    .leftarrow, .rightarrow{
        width: .8rem;
        padding: .1rem;
    }
}
@media (max-width: 600px){
    .slider{
        bottom: 1%;
        right: 1%;  
    }
    .leftarrow, .rightarrow{
        width: .5rem;
        padding: .05rem;
    }
    hr{
        margin: .1rem 0;
    }
}
@media (max-width: 470px){
    .slider{
        bottom: -8%;
    }
}
@media (max-width: 350px){
    .slider{
        bottom: -20%;
        right: .5%;  
    }
    .bigger-number, .slider h3{
        font-size: 1.5rem;
        font-size: clamp(.4rem, .4rem + 1vw, 1rem);
    }
    .lower-number{
        font-size: 1rem;
        font-size: clamp(.2rem, .2rem + 1vw, .5rem);  
    }
}
/*#endregion ---------------------------- HEADER ------------------------------*/

/*#region ------------------------------- MAIN ------------------------------*/

/*#region ------------------------------- section 1 ------------------------------*/

/*#region ------------------------------- section 1 top ------------------------------*/
.section1{
    background-image: linear-gradient(to top, #fff 0%, #fff5 10%, transparent 15%), url("img/sta-uo-robot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left, top left;
}

.top-section1{
    position: relative;
    padding-right: 1%;
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*#region ------------------------------- red-box ------------------------------*/
.red-box{
    background-image: url("img/stromtrupered.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 350px;
    
    position: relative;
    margin-top: -50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #fff;
    
    padding: 4em 2em;
}

.red-titulo{
    font-size: 2.5rem;
    font-weight: 500;
}

.red-content{
    padding: 3em 0;
    
    font-size: 1rem;
    font-weight: 300;
}

.red-button{
    border-radius: 5px;
    
    padding: .5em 2em;
    
    font-size: 1.2rem;
}

.red-nota{
    font-size: .7rem;
    font-weight: 300;
    
    position: absolute;
    right: 15px;
    bottom: 20px;
}
/*#endregion ---------------------------- red-box ------------------------------*/

/*#region ------------------------------- sobrebox ------------------------------*/
.sobre-box{
    display: flex;
    align-items: center;
    width: 60%;
    
    text-align: right;
}

.sobre-text{
    padding: 10px;
}

.sobre-titulo{
    font-size: 1.5rem;
}

.sobre-box hr{
    width: 150px;
    height: 2px;
    
    margin-left: auto;
}

.sobre-box img{
    height: 10em;
}

.section1-hr{
    background-color: gray;
    height: 3px;
    margin-top: 4em;
}

.bot-section1{
    position: relative;
    
    display: flex;
    justify-content: center;
}

/*#endregion ---------------------------- sobrebox ------------------------------*/
@media (max-width: 1000px){
    .sobre-box{
        flex-direction: column-reverse;
        width: 40%;
    }
}

@media (max-width: 700px){
    .top-section1{
        flex-direction: column;
    }
    .red-box{
        margin: 0px;
        margin-bottom: 5%;
    }
    .section1{
        background-size: auto 50%;
    }
    .sobre-box{
        align-items: flex-end;
        width: 80%;
    }
    .sobre-box hr{
        margin: 1rem 0;
        margin-left: auto;
    }
}
@media (max-width: 470px){
    .red-box{
        margin-top: 8%;
        width: 60vw;
    }
    .red-titulo{
        font-size: 2rem;
        font-size: clamp(.5rem, .5rem + 5vw, 2rem);
    }
    .red-content{
        font-size: .7rem;
        font-size: clamp(.5rem, .1rem + 5vw, .7rem);
    }
    .red-button{
        font-size: 1rem;
        font-size: clamp(.5rem, .2rem + 5vw, 1rem);
        
        padding: 3%;
    }
    .red-nota{
        font-size: .5rem;
    }
    .sobre-box img{
        height: 30vw;
    }
    .sobre-titulo{
        font-size: 1rem;
        font-size: clamp(.5rem, .5rem + 5vw, 1rem);
    }
    .sobre-text p{
        font-size: 1rem;
        font-size: clamp(.5rem, .3rem + 5vw, .7rem);
    }    
}
@media (max-width: 350px){
    .red-box{
        margin-top: 18%;
    }
}
/*#endregion ---------------------------- section 1 top ------------------------------*/

/*#region ------------------------------- section 1 bot ------------------------------*/
.lord, .rey{
    position: absolute;
    height: 40vw;
    bottom: -50px;
}

.lord{
    left: 0px;
}

.rey{
    right: 0px;
}

.structure{
    display: flex;
    flex-direction: column;
    
    text-transform: uppercase;
    text-align: right;  
    
    position: relative;
    padding: 4em 0;
}

.bot-titulo{
    font-weight: 600;
    font-size: 3rem;
    font-size: clamp(1rem, .5rem + 3vw, 3rem);
}

.structure li{
    margin: .7em;
    padding: .3em;
    
    font-size: 1.2rem;
    font-size: clamp(.5rem, .1rem + 3vw, 1.2rem);
}

.structure li:hover{
    background-color: #d74430;
    color: #fff;
    
    cursor: pointer;
}
/*#endregion ---------------------------- section 1 bot ------------------------------*/

/*#endregion ---------------------------- section 1 ------------------------------*/

/*#region ------------------------------- section 2 atributos ------------------------------*/
.atributos{
    background-color: #2d2d2d;
    padding-top: 6rem;
}

.atributos h2, .comojogar{
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    
    padding: 0 0 2rem 4rem;
}
/*#region ------------------------------- gallery ------------------------------*/
.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    padding: 1vw;
}

.battle{
    flex: 1 1 500px;   
    max-width: 100%;
}

.battle img{
    width: 100%;
    height: 100%;
}

.gallery-img:hover{
    background-image: url("img/hover-gallery.png");
    background-size: cover;
    background-color: #d74430;
}

.rightgallery{
    display: flex;
    flex: 1 1 500px;
    flex-wrap: wrap;
}

.rightgallery img{
    display: block;
    flex: 1 1 250px;
    width: 50%;
}
/*#endregion ---------------------------- gallery ------------------------------*/
.hierarquia{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.nota{
    text-align: right;
    color: #fff;
    font-size: .8em;
    font-weight: 300;
    
    position: relative;
    left: 45%;
    right: 5%;
    width: 50%;
    
    padding-left: 1vw;
}
@media (max-width: 1000px){
    .atributos h2, .comojogar{
        text-align: center;
        padding-left: 0px;
    }  
}
@media (max-width: 527.20px){
    .gallery-img{
        padding: 0 3%;
    }
    .nota{
        left: 25%;
        right: 5%;
        width: 70%;
    }
}
/*#endregion ---------------------------- section atributos ------------------------------*/

/*#region ------------------------------- section 3 como jogar ------------------------------*/
.comojogar{
    background-color: #2d2d2d;
    
    text-align: center;
    padding: 4em 0;
    
    position: absolute;
    width: 100%;
}

.comojogar-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    position: relative;
    
    padding-bottom: 6em;
}

.stortm_trooper{
    
}
/*#region ------------------------------- botões ------------------------------*/
.botoes-content{
    display: flex;
    justify-content: flex-end;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 3rem 2.5rem;
    
    position: relative;
    bottom: 0px;
    width: 20%;
}

.numero{
    font-size: 2em;
    font-weight: 400;
}

.botoes:hover .numero{
    font-weight: 800;
}

.botao2{
    background-color: #000;
    border: none;
    
    position: relative;
    padding: .5em 1.5em;
    margin: 1.5em 0em;
    
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    
    isolation: isolate;
}

.botao2:hover {
    cursor: pointer;
}

.botao2:before {
    content: '';
    
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
    
	height: 100%;
	width: 100%;
    transform: scaleX(0);
    transform-origin: left;
	transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	background: #d74430;
}

.botao2:hover:before {
    transform: scaleX(1);
}

.texto{
    font-size: .8em;
    font-weight: 300;
    text-align: center;
    
    padding-bottom: 2em;
}

.linha{
    height: 3px;
    width: 50px;
    background-color: black;
    
    position: absolute;
    bottom: 0px;
}

.botoes:hover .linha{
    background-color: #d74430;
}
/*#endregion ---------------------------- botões ------------------------------*/
/*#endregion ---------------------------- section como jogar ------------------------------*/

/*#endregion ---------------------------- MAIN ------------------------------*/

/*#region ------------------------------- FOOTER ------------------------------*/
.footer-content{
    display: flex;
    
    position: relative;
}

.footer-content h2{
    font-weight: 800;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;

    padding: 7rem 0 3rem 0;
}

.left-footer{
    background-color: #ff5a56;
    width: 72%;

    display: flex;
    justify-content: center;
}

.left-footer-content{
    width: 50%;
}

.left-footer-content img{
    width: 48%;
}

.left-footer-content p{
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;  
}

.left-footer-content hr{
    height: 4px;
    background-color: #d74430;
}

.apps{
    display: flex;
    justify-content: space-between;
    
    padding: 2rem 0;

}

.apps img{
    cursor: pointer;
}

.starwars{
    padding: 3rem 0 1rem 0;
}

.footer-text{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    font-size: 1rem;
}

.darth{
    position: absolute;
    top: -100px;
    right: 0px;
    width: 38%;
}
/*#endregion ---------------------------- FOOTER ------------------------------*/
